// Components :: Browser

.c-browser {
  background: linear-gradient(#fff 1%,#eef1f3 4%);
  border-radius: 4px;
  border: 1px solid #d8dee0;
  box-shadow: 0 2px 6px rgba(0,0,0,.08);
  overflow: hidden;
  position: relative;

  &:before {
    color: #E6EAEE;
    content: "...";
    display: block;
    font-family: georgia;
    font-size: 2em;
    font-weight: 700;
    left: 0;
    letter-spacing: 4px;
    line-height: 0;
    padding: 6px 0 20px 10px;
    position: absolute;
    right: 0;
    text-align: left;
    text-shadow: -1px -1px 0 #d8dee0,1px -1px 0 #d8dee0,-1px 1px 0 #d8dee0,1px 1px 0 #d8dee0;
    top: 0;
  }
}

.c-browser-body {
  border-top: $HS-border;
  position: relative;
  margin-top: 26px;
}


// Modifiers
.c-browser--sm {
  &:before {
    font-size: 1.5em;
    padding: 3px 0 20px 5px;
  }

  .c-browser-body {
    margin-top: 18px;
  }
}

.c-browser-body--hd {
  padding-bottom: 56.25%;
  overflow: hidden;

  .c-browser-body__media {
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}