// Components :: Sections

.c-section {
  padding-bottom: 40px;
  padding-top: 40px;

  min-height: 400px;

  & + & {
    border-top: $HS-border;
  }
}

// Modifier
.c-section--hero {
  height: 60vh;
}