// Components :: Sections

.c-section {
  padding-bottom: 40px;
  padding-top: 40px;
}

.c-section-media {
  position: relative;

  &__image {
    display: block;
  }
}

.c-section-arrow {

}

// Modifier
.c-section--hero {
  border-bottom: $HS-border;
}

.c-section-media {
  &__image--offset {
    position: absolute;
  }
}

// Animations
